* {
    box-sizing: border-box;
}
.jumbotron {
    background-image: url('background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Yantramanav', sans-serif;
    opacity: 0.75;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    display: inline-block;
}

#subtitle {
    font-size: 20px;
    /* color: #888888; */
}

#taskInput {
    width: 100%;
    margin-top: 50px;
}

#taskIn {
    padding: 5px; 
    height: 50px;
    box-shadow: 2px 0px 8px #888888;
}

.warning {
    color: red;
}

#submitNewTask {
    margin-top: 20px;
}

#displayOption {
    font-weight: bold;
    text-decoration: underline;
}
#radioButtons {
    top: 150px;
    font-size: 16px;
    margin-top: 50px;
}

.radioInput {
    margin: 15px;
}


.taskCompleted {
    text-decoration: line-through;
    color: grey;
}

.disable {
    background-color: grey;
}

table {
    border: 1px grey solid;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

tr:nth-child(even) {
    background-color: honeydew;
}


td {
    padding: 10px;
    font-size: 18px;
}

.btn {
    opacity: 0.75;
    width: 120px;
}

h3 {
    margin-top: 50px;
}

