body, html {
    height: 100%;
}

.jumbotron {
    background-image: url('background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.toDoBody {
    margin: 0 auto;
    width: 40%;
}
#taskIn {
    padding: 5px; 
    width: 100%;
}

#submitNewTask {
    margin-top: 20px;
}


.taskCompleted {
    text-decoration: line-through;
    color: grey;
}

.disable {
    background-color: grey;
}

table {
    border: 1px grey solid;
    margin-top: 20px;
    width: 100%;

}

td {
    padding: 10px;
    font-size: 18px;
}

